<% form_for @member do |f| %>
<%= error_messages_for 'member'%>
<p>
	<label for="member[first]">First Name:</label><%= f.text_field :first %><br />
	<label for="member[last]">Last Name:</label><%= f.text_field :last %><br />
	<label for="member[email]">E-mail Address:</label><%= f.text_field :email %><br />
	<label for="member[phone]">Phone Number:</label><%= f.text_field :phone, :size => 10, :maxlength => 10 %> (Only put numbers here, no dashes, parentheses, etc.)<br />
	<label for="member[grad_year]">HS Graduation:</label><%= select("member", "grad_year", @years, {:include_blank => true})%><br />
	<label for="member[state_id]">State:</label><%= select("member", "state_id", @states.collect {|s| [s.abbreviation, s.id] }, {:include_blank => true}) %>
</p>

<p><label for="member[school_id]">School:</label><%= select("member", "school_id", @schools.collect {|s| [s.name, s.id]}, {:include_blank => true}) %></p>

<p><label for="member[public]">Public?</label><%= f.check_box :public %></p>

	<p class="submit"><%= f.submit "Save"%>
		<% if @member.last.blank? %><%= link_to "Cancel", members_url %>
		<% else %><%= link_to "Cancel", member_path(@member)%>
		<% end %>
	</p>
<% end %>