<ul>
	<li><%=link_to "New Member", new_member_url %></li>
	<% unless @member.blank? -%><li><%=link_to "Edit this member", edit_member_url(@member) %></li>
	<li><%= link_to "Delete this member", member_url(@member), :confirm => "Are you sure?", :method => :delete %> </li>
	<li><%=link_to "Register this member", {:controller => 'admin/members', :action => 'register', :id => @member} %></li>
	<li><%= link_to "Convention Registration", register_members_url(@member) %></li>
	<% end -%>
	<li>Find a member:<br />
	<input id="member_name" name="member[name]" size="20" type="text" /><div class="auto_complete" id="member_name_auto_complete"></div>
	<%= auto_complete_field "member_name", :url => auto_complete_for_member_name_members_url, :min_chars => 3%>	
</ul>