<h1>Viewing <%= @member.name %></h1>
<p>
	State: <%= @member.state.name %><br />
	Graduated: <%= @member.grad_year %><br />
	School: <% if @member.school -%><%= link_to @member.school.name, edit_school_path(@member.school) %><% end %><br />
	Phone: <% unless @member.phone.blank? -%><%= "(" + @member.phone[0,3] + ") " + @member.phone[3,3] + "-" + @member.phone[6,4] %><% end %><br />
	E-mail: <%= @member.email unless @member.email.blank? %><br>
	Public: <% if @member.public == 1 -%>True<% else -%>False<% end -%>
</p>

<p><%= link_to "Edit Member", edit_member_path(@member) %></p>
<p><%= link_to "&laquo; Back to List", members_path(:letter => @member.last[0]) %></p>