<div class="profile vcard">
<h2 class="fn"><%= profile.name %></h2>
<p>
<% if profile.grad_year -%>
	<% if profile.primary_member? %>
		<strong>Status:</strong> Primary Member<br />
	<% else %>
		<strong>Status:</strong> Secondary Member<br />
	<% end %>
<% end %>
<% if profile.school -%>
	<strong>School:</strong> <%= profile.school.name %><br />
<% end -%>
<% if profile.state -%>
		<strong>Delegation:</strong> <%= profile.state.name %><br />
<% end -%>

<% unless profile.phone.blank? -%>
	<%= "(" + profile.phone[0,3] + ") " + profile.phone[3,3] + "-" + profile.phone[6,4] %><br />
<% end -%>
<% unless profile.email.blank? -%>
	<%= mail_to profile.email, "E-mail " + profile.first, :encode => "hex"%>
<% end %>
</p>
</div>
