<h2>Member Directory</h2>
<h3>Browse by <%= @browse_method_name %></h3>
<% form_tag browse_path, :method => "get" do %>
<input type="hidden" name="browse_method" value="<%= @browse_method %>">
<select name="browse_filter">
	<%= options_from_collection_for_select(@filters, "id", "name", @browse_filter) %>
</select><input type="submit" value="Browse" />
<% end %>

<%= render :partial => "page_selector"%>


<% unless @results.empty? -%>
<%= render :partial => 'profile', :collection => @results %>

<% else -%>
<strong>Sorry, no matches found.</strong>
<% end -%>

<%= render :partial => "page_selector"%>
