<h1>SCL Member Login</h1>
<p>
	Sorry, this area of the site is for NSCL members only. If you are a member, just enter the NSCL password below and hit submit. If you are a member but do not know the NSCL password, e-mail the <%= mail_to "webmaster@nscl.org", "NSCL webmaster", :encode => "hex"%>. If you are not a member but would like to join, then see our <%=link_to "online membership application", {:controller => "/about", :action => "join"}%>.
</p>
<% form_tag :action => "verify" do %>
	<p>
		<input type="hidden" name="next_page" value="<%=@next_page%>" />
	<label for="password">NSCL Password:</label><%= password_field_tag %> <%= submit_tag "Submit"%>
	</p>
<%end%>
