<h1>Joining the SCL</h1>
        <p>The SCL is open to anyone who has an interest in the classics and is of college age or above. The $6 membership fee is good for the first four years following high school graduation; this period is called Primary Membership. After that, you can pay an additional $4 for four more years of SCL membership, called Secondary membership.</p>
		<p>If you have any questions about membership, you can contact the <%=link_to "NSCL Treasurer", :controller => "business/officers", :link => "treasurer" %> for further information.</p>
		<p>If you are interested, just fill out this handy form.</p>
		
		<%= form_tag :action => 'submit_application' %>
		<label for="member_first">First Name:</label><%= text_field 'member', 'first' %><br />
		<label for="member_last">Last Name:</label><%= text_field 'member', 'last' %><br />
		<label for="member_email">E-mail:</label><%= text_field 'member', 'email' %><br />
		<label for="member_phone">Phone Number:</label><%= text_field 'member', 'phone' %><br />
		<label for="member_grad_year">Year of HS Graduation:</label><%= text_field 'member', 'grad_year', { :size => '4', :maxlength => '4' } %><br />
<!--
		<h2>Home Address</h2>
		
		<p class="indent">

			<label for="member_home_address">Street address:</label><%= text_field 'member', 'home_address' %><br />
			<label for="member_home_apt">Unit / Apt. #:</label><%= text_field 'member', 'home_apt' %><br />

			<label for="member_home_city">City:</label><%= text_field 'member', 'home_city' %><br />
			<label for="member_home_state">State:</label><%= text_field 'member', 'home_state', {:size => '2', :maxlength => '2'} %>
			<label for="member_home_zip">Zip:</label><%= text_field 'member', 'home_zip', {:size => '5', :maxlength=> '5' }%>
		</p>
-->
		
		<label for="member_school_id">School&#8217;s name:</label>
			<select id="member_school_id" name="member[school_id]">
					<option value="0">Other (please specify below)</option>
					<%= options_from_collection_for_select(@schools, "id", "name", @member.school_id)%>
			</select><br />
			<div id="other_school_box"><label for="school_other">Other:</label><%= text_field_tag 'school_other' %></div>
			
		<br />

<!--		
		<h2>School Address</h2>

		<p class="indent">
			<label for="member_school_address">Street address:</label><%= text_field 'member', 'school_address' %><br />
			<label for="member_school_apt">Unit / Apt. #:</label><%= text_field 'member', 'school_apt' %><br />

			<label for="member_school_city">City:</label><%= text_field 'member', 'school_city' %><br />
			<label for="member_school_state">State:</label><%= text_field 'member', 'school_state', {:size => '2', :maxlength => '2'} %>
			<label for="member_school_zip">Zip:</label><%= text_field 'member', 'school_zip', {:size => '5', :maxlength=> '5' }%>
		</p>
-->
		<label for="member_state_id">State Delegation:<br /><span style="font-size: .7em; font-weight: normal;">You may be a member of multiple state chapters; choose whichever you consider your primary.</span></label>
			<select id="member_state_id" name="member[state_id]">
				<%= options_from_collection_for_select(@states, "id", "name", @member.state_id)%>
			</select>
		<br />
		<p style="font-weight: bold;">Do you wish for this this information to be made public in the online SCL Membership Directory?</p>
		<p class="radio">
			<%= radio_button 'member', 'public', true %><label for="member_public_true">Yes</label>
			<%= radio_button 'member', 'public', false %><label for="member_public_false">No</label>
		</p>
		<!--<p><strong>Please choose your method of payment:</strong></p>
			<%= submit_tag "I will send payment" %><br />
			<%= submit_tag "I will pay online" %>-->
		<%= submit_tag "Submit Application" %>
		</form>
		
		
<% content_for :jquery do %>
		$("#member_school_id").change(function()
		{
			if (document.getElementById('member_school_id').value == 0)
			{
				document.getElementById('other_school_box').className = "";
			}
			else
			{
				document.getElementById('school_other').value = "";
				document.getElementById('other_school_box').className = "invisible";
			}
		});
<% end %>
