<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" href="/favicon.png" type="image/png" />
	<title><%= @page_title ||= "National Senior Classical League" %> | nscl.org</title>
	<%= stylesheet_link_tag 'master' %>
	<!--[if gte IE 5]><%= stylesheet_link_tag 'internet-explorer' %><![endif]-->
	<% if @javascripts %>
	<%= javascript_include_tag :defaults %>
	<% end %>
	<script type="text/javascript">
		function other_school()
		{
			if (document.getElementById('member_school_id').value == 0)
			{
				document.getElementById('other_school_box').className = "";
			}
			else
			{
				document.getElementById('school_other').value = "";
				document.getElementById('other_school_box').className = "invisible";
			}
		}
	</script>
</head>
<body>
<div id="header" class="<%= @controller.controller_path.split('/')[0] %>">
		<%= image_tag "seal_headline.png", :alt => "National Senior Classical League", :width => "839", :height => "210" %>
		<%= link_to "", root_url, {:id => "header_home_link"} %>
	<div id="navigation-div">
	    <ul id="navigation">
			<li><%= link_to image_tag("events.png", :alt => "Events", :width => "67", :height => "18"), :controller => "/events", :action => "convention" %></li>
			<li><%= link_to image_tag("members.png", :alt => "Members", :width => "86", :height => "18"), :controller => "/members/scholarships", :action => "hal_rather" %></li>
	        <li><%= link_to image_tag("official.png", :alt => "Official Business", :width => "167", :height => "18"), :controller => "/business/officers", :link => "president" %></li>
	        <li><%= link_to image_tag("publications.png", :alt => "Publications", :width => "126", :height => "18"), :controller => "/publications", :action => "convention_ear" %></li>
			<li><%= link_to image_tag("nscl50.png", :alt => "NSCL 50", :width => "79", :height => "18"), "/nscl50" %></li>
	    </ul>
	</div>
</div>

	<div id="content">
		<div id="sectionnav">
			<%= render :partial => @controller.controller_path.split('/')[0] + "/section_nav" %>
		</div>
		<div id="text">
			<% unless flash[:notice].blank? %><p id="notice"><%= flash[:notice] %></p><% end %>
			<% unless flash[:error].blank? %><p id="error"><%= flash[:error] %></p><% end %>
			<%= @content_for_layout %>
			<!--[if lte IE 6]>
				<p><%=link_to "Does this site look strange?", :controller => '/about', :action => 'ie6'%></p>
			<![endif]-->
		</div>

	</div>

<div id="footer"></div>
</body>
</html>