<ul>
	<li>Scholarships
	<ul>
		<li><%=link_to_for_sidebar "Hal Rather Award", :controller => 'members/scholarships', :action => "hal_rather" %></li>
		<li><%=link_to_for_sidebar "NSCL Scholarship", :controller => 'members/scholarships', :action => "nscl_scholarship" %></li>
		<li><%=link_to_for_sidebar "Mark Schapler Award", :controller => 'members/scholarships', :action => "mark_schapler" %></li>
		<li><%=link_to_for_sidebar "Donor Thank You List", :controller => 'members/scholarships', :action => "donors" %></li>
	</ul>
	</li>
	<li>Member Services
		<ul>
			<li><%= link_to_for_sidebar "Member Directory", :controller => 'members/services', :action => "directory" %></li>
			<li><%= link_to_for_sidebar "E-mail Lists", :controller => 'members/services', :action => "lists" %></li>
		</ul>
	</li>
</ul>